gi.main {
  margin: 0;
  min-height: 100vh; /*important to cover all the site */
  background-color: rgba(24, 24, 24, 1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.h1l {
  margin: 0;
  font-size: 8em;
  text-align: center;
  vertical-align: text-top;
  color: rgb(13, 13, 13);
}
.h2l {
  text-align: center;
  font-size: 5em;
  color: rgb(13, 13, 13);
}

.btn {
  position: absolute;
  color: rgb(13, 13, 13);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  bottom: 5%;
  left: 43%;
}

.btn:hover {
  transition: all 3s;
  font-size: 2em;
  color: rgb(200, 200, 200);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
  left: 40%;
}
